[bumpversion]
current_version = 0.1.0
commit = False
tag = False

[bumpversion:file:pyproject.toml]

[bumpversion:file:eviex/__init__.py]

[bumpversion:file:tests/test_eviex.py]

[bumpversion:file:HISTORY.md]
search = ## Unreleased
replace = ## Unreleased
	-
	- ## [v{new_version} - {now:%Y-%m-%d}](https://github.com/se7entyse7en/eviex/compare/v{current_version}...v{new_version})
